/build/
/dist/
/doc/build/
/examples/**/__pycache__/
/examples/*.png
/examples/libpymetranet.so
/examples/build/
/examples/data/
/examples/dist/
/libpymetranet/dist/
/libpymetranet/obj/
/pymetranet/libpymetranet.so
/pymetranet/**/__pycache__/
/pymetranet.egg-info/
